/*
#TODO
*/
%declined {
    box-shadow:
        inset 0 0 0.1em rgba(0, 0, 0, 0.35),
        inset 0.05em 0.1em 0.1em rgba(0, 0, 0, 0.35);
}

%mt-flatButtonIcon {
    height: 1em;
    overflow: hidden;
    text-align: center;
    width: 1.4em;

    &::before {
        display: inline-block;
        font-family: '42tiles';
        font-weight: 300;
        margin: 0 1em 1em 0;
        width: 100%;
    }
}

%mt-flatButtonReload {
    @extend %mt-flatButtonIcon;
    &::before {
        content: "\e802";
    }
}

/*
# Predefined icons

In the near future I would like to implement a set of predefined icons based on the set of
[materials design icons on github](https://github.com/google/material-design-icons).
*/
%mt-flatButtonGame {
    @extend %mt-flatButtonIcon;
    &::before {
        content: "\e900";
    }
}

%mt-flatButtonStats {
    @extend %mt-flatButtonIcon;
    &::before {
        content: "\e901";
    }
}

%mt-flatButtonAchievements {
    @extend %mt-flatButtonIcon;
    &::before {
        content: "\e902";
    }
}

%mt-flatButtonSettings {
    @extend %mt-flatButtonIcon;
    &::before {
        content: "\e903";
    }
}

%mt-flatButtonLicense {
    @extend %mt-flatButtonIcon;
    &::before {
        content: "`";
    }
}
