/*
 # Typography
 By assuming a base font of 15sp and calculating all other typography relative to this
 base font, this file contains the same list as the
 [typography section](http://www.google.com/design/spec/style/typography.html#typography-standard-styles)
 on the google specs.

```
<h1 class="mt-display4">Light 112sp</h1>
<h1 class="mt-display3">Regular 56sp</h1>
<h1 class="mt-display2">Regular 56sp</h1>
<h1 class="mt-display1">Regular 56sp</h1>
<h1 class="mt-headline">Regular 24sp</h1>
<h1 class="mt-title">Medium 21sp</h1>
<h1 class="mt-subhead">Regular 17sp</h1>
<h1 class="mt-body2">Medium 15sp</h1>
<h1 class="mt-body1">Regular 15sp</h1>
<div class="mt-caption">Regular 13sp</div>
<div><a href="#" class="mt-button">Medium 15sp</a></div>
```

*/
%mt-headers {
    @extend %reset;
    @extend %headerFont !optional;

    @include e__owl {
        margin-top: e__sp-to-rem(24);
    }
}

/*
# Display 4

```
<h1 class="mt-display4">Light 112sp</h1>
```
*/
%mt-display4 {
    @extend %mt-headers;
    font-size: e__sp-to-rem(112);
    font-weight: 300;
}

/*
# Display 3

```
<h1 class="mt-display3">Regular 56sp</h1>
```
*/
%mt-display3 {
    @extend %mt-headers;
    font-size: e__sp-to-rem(56);
}

/*
# Display 2

```
<h1 class="mt-display2">Regular 45sp</h1>
```
*/
%mt-display2 {
    @extend %mt-headers;
    font-size: e__sp-to-rem(45);
}

/*
# Display 1

```
<h1 class="mt-display1">Regular 34sp</h1>
```
*/
%mt-display1 {
    @extend %mt-headers;
    font-size: e__sp-to-rem(34);
}

/*
#Headline
```
<h1 class="mt-headline">Regular 24sp</h1>
```
*/
%mt-headline {
    @extend %mt-headers;
    font-size: e__sp-to-rem(24);
}

/*
# Title

```
<h1 class="mt-title">Medium 21sp</h1>
```
*/
%mt-title {
    @extend %mt-headers;
    font-size: e__sp-to-rem(21);
    font-weight: 500;
}

/*
# Subhead

```
<h1 class="mt-subhead">Regular 17sp</h1>
```
*/
%mt-subhead {
    @extend %mt-headers;
    font-size: e__sp-to-rem(17);
}

/*
# Body 2

```
<h1 class="mt-body2">Medium 15sp</h1>
```
*/
%mt-body2 {
    @extend %mt-headers;
    font-size: e__sp-to-rem(15);
    font-weight: 500;
}

/*
# Body 1

```
<h1 class="mt-body1">Regular 15sp</h1>
```
*/
%mt-body1 {
    @extend %mt-headers;
    font-size: e__sp-to-rem(15);
}

/*
# Caption

```
<div class="mt-caption">Regular 13sp</div>
```
*/
%mt-caption {
    @extend %mt-headers;
    font-size: e__sp-to-rem(13);
}

/*
# Button

```
<a href="#" class="mt-button">Medium 15sp</a>
```
*/
%mt-button {
    @extend %reset;
    @extend %buttonFont !optional;
    color: inherit;
    font-size: e__sp-to-rem(15);
    font-weight: 500;
    text-decoration: none;
}
