/**
 * Typography based on:
 * http://www.google.com/design/spec/style/typography.html#typography-standard-styles
 */
h1, h2, h3, h4 {
    @extend %reset;
    &:first-child {
        margin-top: 0;
    }
}

h1, h4 { //Title, h4 is for dialogs
    font-size: 1.42em;
    font-weight: 600;
}

h2 { //Headline
    font-size: 1.71em;
}

h3 { //Subhead
    font-size: 1.14em;
}

%buttonFont {
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}
