/*
Just a file for implementing the required styles for the examples.
*/
@import "Sasstricks/utils";
@import "atomic/m.icon-font__font-awesome";

%headerFont {
    font-family: 'Roboto', sans-serif;

    @at-root {
        @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
    }
}

%buttonFont {
    @extend %headerFont;
}

%bodyFont {
    @extend %headerFont;
}

@import "material";

body {
    font-size: 12px;
    padding: 0.5em;
}

.a__header--display4 {
    @extend %a__header--display4;
}

.a__header--display3 {
    @extend %a__header--display3;
}

.a__header--display2 {
    @extend %a__header--display2;
}

.a__header--display1 {
    @extend %a__header--display1;
}

.a__header--headline {
    @extend %a__header--headline;
}

.a__header--title {
    @extend %a__header--title;
}

.a__header--subhead {
    @extend %a__header--subhead;
}

.a__typography--body2 {
    @extend %a__typography--body2;
}

.a__typography--body1 {
    @extend %a__typography--body1;
}

.a__typography--caption {
    @extend %a__typography--caption;
}

.a__typography--button {
    @extend %a__typography--button;
}

h1.a__primary-color500,
h1.mt-A400 {
    @extend %headerFont !optional;
    margin-bottom: 0;
    padding: 1em;
}

.a__primary-color500 + dl,
.mt-A400 + dl {
    @extend %headerFont !optional;
    margin: 0;
}

.a__primary-color500 + dl > dt,
.mt-A400 + dl > dt {
    float: left;
    padding: 1em;
}

.a__primary-color500 + dl > dd,
.mt-A400 + dl > dd {
    margin: 0;
    padding: 1em;
    text-align: right;
}

.a__primary-color500 {
    @extend %a__primary-color500;
}

.a__primary-color700 {
    @extend %a__primary-color700;
}

.a__primary-color100 {
    @extend %a__primary-color100;
}

.a__primary-color000 {
    @extend %a__primary-color000;
}

.a__primary-color000 {
    @extend %a__primary-color000;
}

.mt-A400 {
    @extend %a__alternate-color400;
}

.mt-A200 {
    @extend %a__alternate-color200;
}

.mt-A100 {
    @extend %a__alternate-color100;
}

.m__actions__cta--flat {
    @extend %m__actions__cta--flat;
}

.m__actions__cta--floating {
    @extend %m__actions__cta--floating;
}

.m__actions__cta--raised {
    @extend %m__actions__cta--raised;
}

.m__actions__cta--floating-P500 {
    @extend %m__actions__cta--floating-P500;
}

.m__actions__cta--floating-A400 {
    @extend %m__actions__cta--floating-A400;
}

.m__actions__cta--flat-P500 {
    @extend %m__actions__cta--flat-P500;
}

.m__actions__cta--flat-A400 {
    @extend %m__actions__cta--flat-A400;
}

.m__actions__cta--raised-P500 {
    @extend %m__actions__cta--raised-P500;
}

.m__actions__cta--raised-A400 {
    @extend %m__actions__cta--raised-A400;
}

.m__actions__cta--flat-download {
    @extend %m__actions__cta--flat;
    @extend %m__cta--icon-download;
}

.m__actions__cta--raised-download {
    @extend %m__actions__cta--raised;
    @extend %m__cta--icon-download;
}

%mt-regionContainer {
    & article {
        height: 5em;
        padding: 1em;
    }

    & :first-child {
        //test
    }

    & :last-child {
        background-color: $b__color--alternate__100;
    }
}

%mt-regionContainerSideBySide {
    @extend %mt-regionContainer;
    & article {
        box-sizing: border-box;
        float: left;
        width: 50%;
    }
}

.mt-regionContainerBottomShadow {
    @extend %mt-regionContainer;
    & :first-child {
        @extend %a__paper-shadow--raised-bottom;
    }
    & :last-child {
        background-color: transparent;
    }
}

.mt-regionContainerTopShadow {
    @extend %mt-regionContainer;
    & :last-child {
        @extend %a__paper-shadow--declined-top;
    }
}

.mt-regionContainerRightShadow {
    @extend %mt-regionContainerSideBySide;
    & :first-child {
        @extend %a__paper-shadow--raised-right;
    }
    & :last-child {
        background-color: transparent;
    }
}

.mt-regionContainerLeftShadow {
    @extend %mt-regionContainerSideBySide;
    & :last-child {
        @extend %a__paper-shadow--declined-left;
    }
}

.mt-regionContainerPaperFiber {
    @extend .mt-regionContainerTopShadow;
    & :last-child {
        @extend %a__paper-fibers;
    }
}

.branding {
    bottom: 0;
    padding: 0 $b__spacing--unrelated $b__spacing--unrelated 0;
    position: absolute;
    right: 0;
}
