/*
Just a file for implementing the required styles for the examples.
*/
@import "sasstricks/utils";

%headerFont {
    font-family: 'Roboto', sans-serif;
    @at-root {
        @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
    }
}

%buttonFont {
    @extend %headerFont;
}

@import "material";

body {
    font-size: 12px;
}

.mt-display4 {
    @extend %mt-display4;
}

.mt-display3 {
    @extend %mt-display3;
}

.mt-display2 {
    @extend %mt-display2;
}

.mt-display1 {
    @extend %mt-display1;
}

.mt-headline {
    @extend %mt-headline;
}

.mt-title {
    @extend %mt-title;
}

.mt-subhead {
    @extend %mt-subhead;
}

.mt-body2 {
    @extend %mt-subhead;
}

.mt-body1 {
    @extend %mt-subhead;
}

.mt-caption {
    @extend %mt-caption;
}

.mt-button {
    @extend %mt-button;
}

h1.mt-P500,
h1.mt-A400 {
    @extend %headerFont !optional;
    margin-bottom: 0;
    padding: 1em;
}

.mt-P500 + dl,
.mt-A400 + dl {
    @extend %headerFont !optional;
    margin: 0;
}

.mt-P500 + dl > dt,
.mt-A400 + dl > dt {
    float: left;
    padding: 1em;
}

.mt-P500 + dl > dd,
.mt-A400 + dl > dd {
    margin: 0;
    text-align: right;
    padding: 1em;
}

.mt-P500 {
    @extend %mt-P500;
}

.mt-P700 {
    @extend %mt-P700;
}

.mt-P100 {
    @extend %mt-P100;
}

.mt-P000 {
    @extend %mt-P000;
}

.mt-P000 {
    @extend %mt-P000;
}

.mt-A400 {
    @extend %mt-A400;
}

.mt-A200 {
    @extend %mt-A200;
}

.mt-A100 {
    @extend %mt-A100;
}
