/*
# Layout

This is an extremely opionionated use of my material design placeholders. However, since I
want my material design implementation to be simple and ready for the small apps I want to
work on, I decided to include this layout in the project, but leave it as an optional
implementation.
*/
html,
body,
.body {
    height: 100%;
}

body,
.body {
    @extend %bodyFont !optional;
    margin: 0;
    padding: 0;
}

.body {
    overflow: hidden;
    position: relative;
}

p {
    margin: 0 0 $b__spacing--unrelated;
}
